.tag__container--common {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20px;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 10px;
}

.tag__container--Grass {
  background-color: green;
}

.tag__container--Fire {
  background-color: red;
}


.tag__name {
  font-size: 10px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}
